<%- include('partials/header') %>

    <main class="main">
        <section class="home" id="home">
            <div class="home__container container">
                <h1>Forbidden</h1>
                <div>
                    <p>You are not authorized to access this page.</p>
                </div>
            </div>
        </section>
    </main>

    <%- include('partials/footer') %>