<%- include('partials/header.ejs') %>

    <main class="main">
        <section class="home" id="home">
            <div class="home__container container">
                <h1>Not found</h1>
                <div>
                    <p>Cannot found any page with this url</p>
                </div>
            </div>
        </section>
    </main>

    <%- include('partials/footer.ejs') %>