<%- include('partials/header.ejs') %>

    <main class="main">
        <section class="home" id="home">
            <div class="container py-5">
                <div class="row justify-content-center pt-5">
                    <div class="col-md-6">
                        <h1 class="text-center mb-4">Change Password</h1>
                        <form action="/api/member/change-password?_method=PUT&memberId=<%= member.id %>" method="POST">
                            <div class="mb-3">
                                <label for="oldPassword" class="form-label">Old Password:</label>
                                <input type="password" class="form-control" id="oldPassword" name="oldPassword" required
                                    minlength="6" maxlength="20">
                            </div>
                            <div class="mb-3">
                                <label for="newPassword" class="form-label">New Password:</label>
                                <input type="password" class="form-control" id="newPassword" name="newPassword" required
                                    minlength="6" maxlength="20">
                            </div>
                            <div class="mb-3">
                                <label for="confirmNewPassword" class="form-label">Confirm New Password:</label>
                                <input type="password" class="form-control" id="confirmNewPassword"
                                    name="confirmNewPassword" required minlength="6" maxlength="20">
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary btn-block">Change Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- include('partials/footer.ejs') %>